{% extends 'base.html' %}
{% load static %}
{% block TITLE %}Create Registry{% endblock %}

{% block BODY %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6" style="margin-top: 250px">
            <div class="row justify-content-center">
                <h3 style="color: cornflowerblue">You're creating a new TODO registry...</h3>
            </div>
            <form method="post" action="{% url 'add-registry' %}">
                {% csrf_token %}
                {% for field in form %}
                    <label class="control-label"
                           style="color: lightgrey; font-family: 'Segoe UI Light'; font-size: 20px;"
                           for="{{ field.id_for_label }}">
                        {{ field.label }}
                    </label>
                    {{ field }}
                    <div class="col" style="margin-top: 20px"></div>
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <span style="color: red; font-family: 'Calibri Light'; font-size: 17px;"><b>{{ error }}</b></span>
                        {% endfor %}
                    {% else %}
                    {% endif %}
                {% endfor %}
                <input type="submit" class="btn btn-light float-lg-right" value="Create">
            </form>
        </div>
    </div>
</div>
{% endblock %}